---
layout: layouts/base.njk
---
<article class="post policy">
    <h1 class="post-title fade rv">{{ title }}</h1>
    <div class="post-meta fade rv"><span>Last updated {{ updated | auDate }}</span></div>
    <div class="post-content fade rv">
      {{ content | safe }}
    </div>
</article>
